.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-close {
  cursor: pointer;
}
.todo-list{
z-index: 3;
}

.leaf-container{
z-index: -1;
}
.leaf-1{
width:auto;
z-index: -1;
align-content: center;

}

.leaf-2{
width:auto;
z-index: -2;
align-content: center;

}

.leaf-3{
width:auto;
z-index: -3;
display: flex;
align-content: center;

}